# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# ignore tools by others than nl.jeweett aka the great DJ Cas the Wizz Kid
*.*.*.xrnx/
!nl.jeweett.*.xrnx/
!io.sinedub.*.xrnx/
nl.jeweett.TestGui.xrnx/
nl.jeweett.TestKeys.xrnx/
XRNX/
.directory
docs
